:root {
  --primary: #4ade80;
  --primary-alt: #22c55e;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --sidebar-width: 280px;
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.Dashboard {
  display: flex;

  main {
    flex: 1 1 0;
    padding: 2rem;

    @media (max-width: 1024px) {
      padding-left: 6rem;
    }
  }
}

.IconUserDashboard {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.SettingUserInfo {
  width: 90%;
  background-image: url("../../public/images/background-dashboard.jpg");
  .card {
    width: 98%; 
    height: auto;
  }
}
